html, body {
	height: 100%;
}

#dashboardContainer {
	height: 100%;
	display: flex;
	justify-content: center;
}

#dashboard {
	display: block;
	justify-content: center;
	margin: 30px;
	margin-top: 50px;
	height: 500px;
}

#pageTitle {
	padding-top: 20px;
	padding-left: 5px;
	background-color: #DD575C;
	color: whitesmoke;
	border-top-left-radius: 0.35em;
	border-top-right-radius: 0.35em;
	float: top;
	text-align: left;
	padding-bottom: 20px;
	font-size: 24px;
	padding-left: 20px;
}

#dashboardBox {
	background-color: #FCFCFC;
	display: flex;
	text-align: center;
	border-bottom-left-radius: 0.35em;
	border-bottom-right-radius: 0.35em;
	height: 100%;
}

#dashboardBox h1 {
	padding-bottom: 20px;
	font-size: 24px;
}

/*#dashboardNavBar {
	
}
#dashboardNavBar li a {
	text-decoration: none;
}*/

#dashboardTaskList {
	border-bottom-left-radius: 0.35em;
	background-color: rgb(75, 75, 75);
	width: 400px;
}

#taskListElement {
	background-color: rgb(172, 172, 172);
	display: flex;
	font-family: 'Courier New', Courier, monospace;
	justify-content: flex-end;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 0.35em;
	/* display: flex;
	justify-content: flex-end;
	padding-top: 30px;
	padding-bottom: 30px; */
	/* padding: 5px 20px; */
}

#taskListElement a {
	text-align: left;
	flex: 1;
	color: black;
	font-family: 'Courier New', Courier, monospace;
	text-decoration:none;
	text-align: center;
	align-self: left;
	margin-top: 5px;
	text-indent: 10%;
	cursor: pointer;
}

#taskListElement i {
	display: inline;
	margin-left: 10px;
	margin-right: 20px;
	justify-content: flex-end;
	cursor: pointer;
}

.taskListDivider {
	width: 100%;
	height: 1px;
	background: rgba(75, 75, 75);
}

#selectedTaskElement {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 520px;
	display: flex;
	flex-direction: column;
	justify-content: top;
	text-align: left;
	width: 450px;
	padding: 20px;
	border-bottom-right-radius: 0.35em;
	border-bottom-left-radius: 0.35em;
	border-left: rgb(75, 75, 75);
	border-left-width: 2px;
	border: gray;
}

#selectedTaskElement a {
	line-height: 2;
	padding-bottom: 10px;
}

#taskListDivider:last-child {
	display: none;
}

#noTaskLabel{
	padding: 20px;
	font-size: 20px !important; 
}

#taskAssign {
	margin-top: 20px;
	padding: 20px;
	background: #DD575C;
	border-radius: 0.35em;
	margin-bottom: 20px;
}

#taskAssign #inputContainer {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

#taskAssign #inputContainer input {
	padding: 5px;
	flex-basis: calc(50% - 5px);
}

#taskAssign textarea {
	width: 100%;
	border-radius: 0.35em;
	padding: 10px;
}

#taskAssign #assignCenter {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
}

#taskAssign #assignCenter button {
	font-size: 16px;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
}