#loginContainer {
    color: white;
    margin-top: 130px;
    margin-bottom: 40px;
}

#Taskall-name p{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    padding-top: 35px;
}

#Google-login {
    align-self: center;
    position: relative;
    margin-top: 30px;
    font-size: 2em;
    line-height: 1.9em;
    transform:scale(1.2);

}

#Google-login button {
	width: 150px;
}

#Google-login button span {
	padding-left: 14px !important;
}

#container-login {
    background-color: #FCFCFC;
    position: relative;
    top: 20%;
    margin: auto;
    width: 340px;
    height: 300px;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
}

#title {
    position: relative;
    background-color: #DD575C;
    width: 100%;
    padding: 20px;
    border-top-left-radius: 0.22em;
    border-top-right-radius: 0.22em;
    font-size: 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.lock {
	position: relative;
	top: 2px;
}

#main-title h1{
    color: black;
    background-color: #FCFCFC;
    align-items: center;
    align-self: center;
    position: relative;
    margin-top: 50px;
}
