html, body {
	height: 100%;
}

#organisationPop {
	background-color: #FCFCFC;
	position: fixed;
    top: 20%;
    width: 370px;
	height: flex;
	margin-bottom: 40px;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
}

#organisationContainer {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#organisationAdd {
	display: flex;
}

#organisationBox {
	display: block;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
}

#organisationBox h1 {
	background-color:  rgb(82, 226, 226);
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 22px;
	border-top-left-radius: 0.22em;
    border-top-right-radius: 0.22em;
}	

#organisationAdd input {
	flex: 1;
	margin-right: 5px;
}

#confirmSelection input{
	flex: 1;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#organisationList {
	/* Margin collapses, so you get 50 - 20 which is 30 */
	margin-top: 37px;
}

#organisationListElement {
	display: flex;
	font-family: 'Courier New', Courier, monospace;
	justify-content: flex-end;
	margin-top: 23px;
	margin-bottom: 23px;
}

#organisationListElement a {
	flex: 1;
	font-family: 'Courier New', Courier, monospace;
	text-align: left;
	text-indent: 10%;
}

#organisationListElement i {
	display: inline;
	/* padding-left: 50px; */
}

#organisationListDivider {
	width: 100%;
	height: 1px;
	background: rgba(150, 150, 150, 1);
}

#organisationListDivider:last-child {
	display: none;
}