html, body {
	height: 100%;
}

#organisationPop {
	background-color: #FCFCFC;
	position: fixed;
    top: 20%;
    width: 370px;
	height: flex;
	margin-bottom: 40px;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
}

#organisationContainer {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#organisationAdd {
	display: flex;
	padding: 10px;
	border-bottom-left-radius: 0.35em;
	border-bottom-right-radius: 0.35em;
}

#organisationBox {
	display: block;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
}

#organisationBox h1 {
	color: white;
	background-color:  #DD575C;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 22px;
	border-top-left-radius: 0.22em;
    border-top-right-radius: 0.22em;
}

#organisationAdd input {
	flex: 1;
	margin-right: 10px;
}

#organisationList {
	/* Margin collapses, so you get 50 - 20 which is 30 */
	background-color: rgb(75, 75, 75);
}

#organisationListElement {
	background-color: rgb(172, 172, 172);
	display: flex;
	font-family: 'Courier New', Courier, monospace;
	justify-content: flex-end;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 0.35em;
}

#organisationListElement a {
	flex: 1;
	color: black;
	font-family: 'Courier New', Courier, monospace;
	text-decoration:none;
	text-align: center;
	align-self: left;
	margin-top: 5px;
	text-indent: 10%;
}

#organisationListElement i {
	display: inline;
	padding-left: 10px;
	padding-right: 20px;
	justify-content: flex-end;
}


#organisationListDivider {
	width: 100%;
	height: 1px;
	background: rgb(75, 75, 75);
}

#organisationListDivider:last-child {
	display: none;
}
