html, body {
	height: 100%;
}

#organisationContainer {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#organisationAdd {
	display: flex;
}

#organisationBox {
	display: block;
	text-align: center;
}

#organisationBox h1 {
	padding-bottom: 20px;
	font-size: 24px;
}

#organisationAdd input {
	flex: 1;
	margin-right: 5px;
}

#organisationList {
	/* Margin collapses, so you get 50 - 20 which is 30 */
	margin-top: 37px;
}

#organisationListElement {
	display: flex;
	justify-content: flex-end;
	margin-top: 23px;
	margin-bottom: 23px;
}

#organisationListElement a {
	flex: 1;
	text-align: left;
}

#organisationListElement i {
	display: inline;
	/* padding-left: 50px; */
}

#organisationListDivider {
	width: 100%;
	height: 1px;
	background: rgba(150, 150, 150, 1);
}

#organisationListDivider:last-child {
	display: none;
}